.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 3px;
}
.nav-link{
    color: #FAF9F6 !important;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

span{
    color: aqua;
}
.hero h3{
    padding-top: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}
.home-container{
    padding-top: 300px;
    padding-bottom: 100px;
    padding-left: 100px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .home-container{
        padding-top: 30px;
    }
    .home-page{
        background-image: url(../assets/home/background-home-desktop.jpg);
        background-position-x: center;
        background-position-y: bottom;
    }
  }
.home-page{
    background-image: url(../assets/home/background-home-desktop.jpg);
}
.home-col1{
    justify-content: center;
}

.home-col1 h1, h3,p{
    color: white;
}
.home-col1 h1, h3{
    text-transform: capitalize;
}
.home-col1 h3{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
}
.home-col1 h1{
    font-family: 'Bellefair', serif;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: left;
    
}
.home-col1 P{
    width: 60%;
    text-align:justify;
    
}
.home-col2{
    justify-content: center;
}
.home-col2 Button{
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: #979797;
    border-radius: 50%;
    padding: 65px 35px;
    font-size: 25px;
    font-family: 'Bellefair', serif;
}
.home-col2 Button:hover{
    color: black;
    background-color: aqua;
    border-width: 40px;
    border-color: gray;
    padding: 65px 35px;
    font-size: 25px;
}
/*Destination*/
.destination-page{
   background-image: url(../assets/destination/background-destination-desktop.jpg);
}
.planet-img{
    width: 300px;
    height: 300px;
}
.destination-container{
    padding-bottom: 50px;
}
.destination-container span{
    color: aqua;
    font-family: 'Barlow Condensed', sans-serif;
}

.tab-col-left{
    display: flex;
    justify-content: center;
}
.tab-col-right{
    color: white;
    margin-top: 20px;
}
.tab-col-right p, hr, h2{
    display: flex;
    justify-content: center;
}
.tab-col-right h2{
    font-family: 'Bellefair', serif;
    font-size: 4em;
    text-transform:uppercase;
}
.tab-col-right p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}
.tab-col-right h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}
.tab-col-right h3{
    font-family: 'Bellefair', serif;
    font-size: 28px;
}
.nav.nav-pills .nav-link{
    font-family: 'Barlow Condensed', sans-serif;
    
}
.nav.nav-pills .nav-link.active {
    background-color: aqua;
    color: black !important;
    text-decoration: none;
}
.nav.nav-pills .nav-link:hover{
    background-color: aqua;
    color: black !important;
    text-decoration: none;
}

/*cre page*/
.crew-page{
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    min-height: 100vh;
}
.crew-col-1{
    padding-top: 60px;
}
.crew-col-1 span{
    font-size: 2em;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.crew-col-1 h3{
    font-size: 2.5em;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: white;
}
.crew-col-1 p{
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .crew-page{
        background-image: url(../assets/crew/background-crew-mobile.jpg);
        background-size: cover;
        min-height: 100vh;
    }
    .crew-col-1{
        text-align: center;
    }
    p{
        text-align: center;
    }
  }
.carousel img{
    width: 400px;
    height: 400px;

    /*Technology*/
}
.technology-page{
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
        min-height: 100vh;
}
.tech-tab{
    margin-left: 30px;
}
.tech-tab .nav-link{
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    font-family: 'Bellefair', serif;
}
/*Techcontent*/
.technology-col-2 img{
    width: 100%;

}
.technology-col-1 h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #D0D6F9;
    padding-top: 10px;
}
.technology-col-1 h3{
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    font-size: 2.5em;
    text-transform: uppercase;
}
.technology-col-1 p{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}
.technology-col-2{
    margin-right: 0px;
}
@media only screen and (max-width: 768px) {
    .technology-col-1 p, h3, h5{
        text-align: center;
    }
}
